---
title: "About Me";
// layout: ../layouts/BaseLayout.astro
---

<section class="about">
  <div class="container">
    <div class="photo">
      <img src="/elarabicano.png" alt="My Photo" />
    </div>
    <div class="text">
      <h1>About Me</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
        scelerisque urna eu erat facilisis, in dignissim dolor dictum. Morbi
        fringilla urna id orci laoreet, eu laoreet lorem suscipit. Phasellus ac
        risus a leo facilisis viverra. Aliquam erat volutpat. Sed auctor velit
        eu ligula consequat, eget lacinia sem facilisis. Donec euismod urna ut
        risus volutpat, nec tristique sapien fringilla.
      </p>
    </div>
  </div>
</section>

<style>
  .about {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 15%;
    padding-right: 15%;
  }

  .photo img {
    max-width: 200px;
    height: auto;
    border-radius: 8px;
  }

  .text {
    flex: 1;
  }



 */
</style>
